
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #2B2D42;
    --color-secondary: #8D99AE;
    --color-white: #EDF2F4;
    /*--br-sm-2: 14px;*/
    /*--box-shadow-1: 0 3px 15px rgba(0,0,0,0.3);*/
}

body {
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
}

.search {
    margin:50px;
    align-items: center;
    padding-left: 150px;
    padding-right: 100px;
}

.container {
    margin-left: 100px;
}


/*search bar and animations*/
form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover,
form:valid{
    width: 200px;
    cursor: pointer;
}

form:hover input,
form:valid input{
    display: block;
}

form:hover .fa,
form:valid .fa{
    background: #07051a;
    color: white;
}


a {
    display: none;
    position: absolute;
    top: 70px;
    bottom:0;
    left: 0;
    right: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 100%;
}

form:valid a {
    display: block;
}
/*#loading-page {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 16px solid #8D99AE;
    border-top: 16px solid #2B2D42;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}

.loading-logo {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 46%;
    transition: 0.5s;
    animation: grow 0.5s infinite;
}

@keyframes grow {

    50% {
        width: 100px;
        height: 100px;
        top: 45%;
    }
}

@media (min-width: 768px) {

    #loading-page {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loader {
        border: 16px solid #8D99AE;
        border-top: 16px solid #2B2D42;
        border-radius: 50%;
        width: 500px;
        height: 500px;
        animation: spin 2s linear infinite;
        position: absolute;
        top: 25%;
        transform: translate(-50%, -50%);
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }

    }

    .loading-logo {
        width: 300px;
        height: 300px;
        position: absolute;
        top: 35%;
        transition: 0.5s;
        animation: grow 0.5s infinite;
    }

    @keyframes grow {

        50% {
            width: 350px;
            height: 350px;
            top: 32%;
        }
    }
}*/


/*bottom navigation*/
